---
import useTranslations from '@/functions/useTranslations'
import { getLocale } from 'astro-i18n-aut'

export interface Test {
  period: string
  title: string
  deployLink: string
  repositoryLink: string
  text: string
}

const locale = getLocale(Astro.url)
const { t } = useTranslations(locale)

const { test } = Astro.props as { test: Test }
---

<article>
  <span class="text-sm dark:text-gray-400">{test.period}</span>
  <h3 class="text-2xl font-bold opacity-75 dark:text-white dark:opacity-100">{test.title}</h3>
  <p class="mb-8 text-gray-900 text-opacity-75 dark:text-gray-400">
    <a
      class="font-semibold hover:text-teal-400 dark:text-green-500 dark:hover:text-teal-400"
      rel="noopener nofollow"
      href={test.deployLink}
      target="_blank"
    >
      Live deploy
    </a>
    -
    <a
      class="inline-flex font-semibold hover:text-teal-400 dark:text-green-500 dark:hover:text-teal-400"
      rel="noopener nofollow"
      href={test.repositoryLink}
      target="_blank"
    >
      Repository
    </a>
    <br />
    {test.text}
  </p>
</article>
